<%= form_with(model: @shipping_company) do |f| %>
  <div>
    <%= f.label :corporate_name%>
    <%= f.text_field :corporate_name %>
  </div>

  <div>
    <%= f.label :fantasy_name %>
    <%= f.text_field :fantasy_name%>
  </div>

  <div>
    <%= f.label :cnpj%>
    <%= f.text_field :cnpj %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div>
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>

  <div>
    <%= f.label :cep %>
    <%= f.number_field :cep %>
  </div>

  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>