<section>
<% if admin_signed_in? %>
  <div>
    <%= link_to('Cadastrar Transportadora', new_shipping_company_path)%>
  </div>
  <h2>Transportadoras</h2>
  <% if @shipping_companies.any? %>
    <% @shipping_companies.each do |s| %>
      <div>
        <p><%= ShippingCompany.model_name.human %>: <%= link_to(s.fantasy_name, shipping_company_path(s.id))%> |
         <%= ShippingCompany.human_attribute_name(:cnpj)%>: <%= s.cnpj %></p>
      </div> 
    <% end %>
  <% else %>
    <p>Não existem transportadoras cadastradas.</p>
  <% end %>
<% end %>
</section>