<% if functionary_signed_in? %>
  <div>
    <%= link_to('Veículos', shipping_company_vehicles_path(@shipping_company.id))%>| 
    <%= link_to('Tabela de Preços', shipping_company_price_settings_path(@shipping_company.id)) %>|
    <%= link_to('Prazos de Entrega', shipping_company_deadlines_path(@shipping_company.id))%>|
  </div>
<% end %>

<%= link_to('Produtos', shipping_company_product_models_path(@shipping_company.id))%>

<h2>Detalhes da Transportadora: </h2>
  <table>
  <tr>
    <th><%= ShippingCompany.human_attribute_name(:fantasy_name)%>:</th>
    <td><%= @shipping_company.fantasy_name %></td>
  </tr>
  <tr>
    <th><%= ShippingCompany.human_attribute_name(:corporate_name)%>:</th>
    <td><%= @shipping_company.corporate_name %></td>
  </tr>
  <tr>
    <th><%= ShippingCompany.human_attribute_name(:cnpj)%>:</th>
    <td><%= @shipping_company.cnpj %></td>
  </tr>
  <tr>
    <th><%= ShippingCompany.human_attribute_name(:email)%>:</th>
    <td><%= @shipping_company.email %></td>
  </tr>
  <tr>
    <th><%= ShippingCompany.human_attribute_name(:address)%>:</th>
    <td><%= @shipping_company.address %></td>
  </tr>
  <tr>
    <th><%= ShippingCompany.human_attribute_name(:city)%>:</th>
    <td><%= @shipping_company.city %></td>
  </tr>
  <tr>
    <th><%= ShippingCompany.human_attribute_name(:state)%>:</th>
    <td><%= @shipping_company.state %></td>
  </tr>
  <tr>
    <th><%= ShippingCompany.human_attribute_name(:cep)%>:</th>
    <td><%= @shipping_company.cep %></td>
  </tr>
  <tr>
    <th><%= ShippingCompany.human_attribute_name(:status)%>:</th>
    <td><%= t(@shipping_company.status) %></td>
  </tr>

  </table>

<% if admin_signed_in? %>
  <div>
    <%= link_to 'Voltar', shipping_companies_path %> | <%= link_to('Editar', edit_shipping_company_path(@shipping_company.id))%>
  </div>
<% end %>



