<h2>Novo Preço</h2>

<% if (@price_setting.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @price_setting.errors.full_messages.each do |msg| %>
    <li><%= msg %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: [@shipping_company, @price_setting]) do |f| %>
  <div>
    <%= f.label :min_weight%>
    <%= f.number_field :min_weight, step: 0.01 %>
  </div>

  <div>
    <%= f.label :max_weight %>
    <%= f.number_field :max_weight, step: 0.01 %>
  </div>

  <div>
    <%= f.label :min_cubic_meter %>
    <%= f.number_field :min_cubic_meter, step: 0.01 %>
  </div>

  <div>
    <%= f.label :max_cubic_meter %>
    <%= f.number_field :max_cubic_meter, step: 0.01 %>
  </div>

  <div>
    <%= f.label :distance_value %>
    <%= f.number_field :distance_value %>
  </div>
  
  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>