<h1>Detalhes do Pedido:</h1>

<table>
<h2><%= ServiceOrder.model_name.human %>: <%= @service_order.code %></h2>
<tr>
  <th><%= ServiceOrder.human_attribute_name(:shipping_company_id)%>:</th> 
  <td><%= @service_order.shipping_company.corporate_name %></td>
</tr>
<tr>
  <th><%= ServiceOrder.human_attribute_name(:vehicle_id)%>:</th> 
  <td><%= @service_order.vehicle.model %></td>
</tr>
<tr>
  <th><%= ServiceOrder.human_attribute_name(:product_model_id)%>:</th>
  <td><%= @service_order.product_model.sku %></td>
</tr>
<tr>
  <th><%= ServiceOrder.human_attribute_name(:full_address)%>:</th>
  <td><%= (@service_order.full_address) %></td>
</tr>
<tr>
  <th><%= ServiceOrder.human_attribute_name(:customer_address)%>:</th> 
  <td><%= (@service_order.customer_address) %></td>
</tr>
<tr>
  <th><%= ServiceOrder.human_attribute_name(:customer_name)%>:</th> 
  <td><%= (@service_order.customer_name) %></td>
</tr>
<tr>
  <th><%= ServiceOrder.human_attribute_name(:estimated_delivery_date)%>:</th> 
  <td><%= I18n.localize(@service_order.estimated_delivery_date) %></td>
</tr>
<tr>
  <th><%= ServiceOrder.human_attribute_name(:status)%>:</th>
  <td><%= t(@service_order.status) %></td>
</tr>
</table>

<br>
<h3>RASTREAMENTO</h3>
<p>Objeto em trânsito - por favor aguarde</p>

<div>
<% if functionary_signed_in? %>

  <% if @service_order.pending? %>
    <%= button_to "Aceitar", accept_service_order_path(@service_order.id) %>
    <%= button_to "Recusar", recused_service_order_path(@service_order.id) %>
  <% end %>
  <%= link_to "Voltar", service_orders_path %>
  <%= link_to "Atualizar rota", new_service_order_delivery_route_path(service_order_id: @service_order.id) %>
<% end %>
</div>

<div>
  <% @service_order.delivery_route.each do |f|%>
    <table>
    <tr>
      <th><%= DeliveryRoute.human_attribute_name(:current_address)%>:</th>
      <td><%= f.current_address %></td>
    </tr>
    <tr>
      <th><%= DeliveryRoute.human_attribute_name(:exit_address)%>:</th>
      <td><%= f.exit_address %></td>
    </tr>
    <tr>
      <th><%= DeliveryRoute.human_attribute_name(:current_date)%>:</th>
      <td><%= f.current_date %></td>
    </tr> 
    </table>
    <br>
  <% end %>
<div>

