<h1>Detalhes do Pedido:</h1>
<h2><%= ServiceOrder.model_name.human %>: <%= @service_order.code %></h2>
<dl>
  <dt><%= ServiceOrder.human_attribute_name(:shipping_company_id)%>:</dt> 
  <dd><%= @service_order.shipping_company.corporate_name %></dd>
  <dt><%= ServiceOrder.human_attribute_name(:vehicle_id)%>:</dt> 
  <dd><%= @service_order.vehicle.model %></dd>
  <dt><%= ServiceOrder.human_attribute_name(:product_model_id)%>:</dt> 
  <dd><%= @service_order.product_model.sku %></dd>
  <dt><%= ServiceOrder.human_attribute_name(:estimated_delivery_date)%>:</dt> 
  <dd><%= I18n.localize(@service_order.estimated_delivery_date) %></dd>
  <dt><%= ServiceOrder.human_attribute_name(:status)%>:</dt> 
  <dd><%= t(@service_order.status) %></dd>
</dl>

