<h2><%= Vehicle.model_name.human %></h2>
<div>
  <strong><%= Vehicle.human_attribute_name(:model)%>:</strong> <%= @vehicle.model %><br>
  <strong><%= Vehicle.human_attribute_name(:brand)%>:</strong> <%= @vehicle.brand %><br>
  <strong><%= Vehicle.human_attribute_name(:plate)%>:</strong> <%= @vehicle.plate %><br>
  <strong><%= Vehicle.human_attribute_name(:year_fabrication)%>:</strong> <%= @vehicle.year_fabrication %><br>
  <strong><%= Vehicle.human_attribute_name(:freight)%>:</strong> <%= @vehicle.freight %> kg<br>
</div>
