<h2>Detalhes do Veículo</h2>
<div>
  <strong>Modelo:</strong> <%= @vehicle.model %><br>
  <strong>Marca:</strong> <%= @vehicle.brand %><br>
  <strong>Placa:</strong> <%= @vehicle.plate %><br>
  <strong>Ano de fabricação:</strong> <%= @vehicle.year_fabrication %><br>
  <strong>Capacidade máxima:</strong> <%= @vehicle.freight %> kg<br>
</div>
